.cart-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;

    background: #000000ce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page .wrapper {
    width: 80vw;
    max-width: 50rem;
    height: 50vh;
    background: white;
    position: relative;
}

.cart-page .wrapper .close {
    position: absolute;
    top: 1.25rem;
    right: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    line-height: 0;
    font-size: 3rem;
    transform: rotate(45deg);
}


.cart-page .products {
    font-family: Montserrat, sans-serif;
    margin-top: 10%;
    height: 75%;
    width: 100%;
    overflow: auto;
    
    display: flex;
    flex-direction: column;
}

.cart-page .products .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-product img {
    width: 5rem;
    height: 5rem;
    object-fit: scale-down;
}

.cart-product .delete {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    transform: rotate(45deg);
    cursor: pointer;
}

.cart-page .products .cart-product .name-description {
    margin-left: 5px;
    margin-right: auto;
}

.name-description .name {
    font-weight: bold;
}

.cart-page .total {
    height: 5%;
}

.cart-page hr {
    margin: 0;
    padding: 0;
}

.cart-page .total .amount {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-left: auto;
    width: max-content;
}