.background {
    z-index: -1;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.middle-center {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    margin: 0 auto;
    width: 80vw;
    min-width: 20rem;
    height: 100vh;
    z-index: 1;
}

.middle-center .description {
    font-family:  sans-serif;
    font-weight: normal;
}

.middle-center .button {
    line-height: 0;
    margin: 1rem;
    padding: 1.2rem;
    border: solid 1px black;
    background: black;
    box-shadow: 5px 5px 5px black;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}