.product-overview {
    position: relative;
    width: 100%;
    height: 100%;
}

.product-overview .navigate-back img {
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: 0;
    left: 0;
}

.images-preview {
    height: 25%;
    width: 25%;

    box-sizing: border-box;
}

.image-slider {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.image-slider .main {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}

.main .images {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 10px black;

    overflow-x: hidden;
    scroll-behavior: smooth;

    width: 80%;
    aspect-ratio: 1 / 1;
}


/* following two declarations are only needed if scrollbar is enabled and images should snap into place when scrolling */
.main .images {
    -webkit-overflow-scrolling: touch; /* content continues to scroll for a while after finishing the scroll gesture */
    scroll-snap-type: x mandatory; /* see https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type */
}

.main .images > img {
    scroll-snap-align: start;
}

.main .images img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.product-overview .main-content {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.main-content .text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 2rem;

    margin-right: 2rem;
}

.main-content .text-section .name {
    font-size: 3rem;
}

.main-content .text-section .price {
    margin-left: auto;
    width: max-content;
}

.slider {
    cursor: pointer;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slider.right,
.slider.left {
    width: 10%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slider.right img {
    transform: rotate(180deg);
}

.all-images {
    width: 80%;
    height: 50%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}

.all-images .image-preview {
    border: solid 2px black;
    box-shadow: 5px 5px 10px #00000050;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.all-images .image-preview img {
    width: 100%;
    object-fit: scale-down;

    aspect-ratio: 1 / 1;
}

.not-found {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0;
}

.not-found .wrapper div {
    font-size: 10rem;
    line-height: 10rem;

    animation: rotate 2s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}

.add {
    height: 3rem;
    width: 100%;
    align-self: center;
    position: relative;

    box-sizing: border-box;
}

.add button {
    cursor: pointer;
    margin: 0 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 60%;
    height: 100%;
    z-index: 1;

    /* reset default button style */
    border: none;
    background: none;
    padding: 0 1rem;
}

.add .fake-button {
    border: solid 5px black;
    color: white;
    z-index: -1;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;

    background: rgb(50, 205, 102);
    width: 50%;
    height: 100%;
}