.quantity-selector * {
    line-height: 0;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-selector input {
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
}

.quantity-selector span {
    cursor: pointer;
    padding: 0.2em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Chrome, Safari, Edge, Opera */
.quantity-selector input::-webkit-outer-spin-button,
.quantity-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity-selector input[type=number] {
  -moz-appearance: textfield;
}