.main-shop {
    margin-top: 5vh; /* Header is 5vh high */
    height: 5vh;

    display: flex;
    height: 95vh;
    width: 100vw;
}

.main-shop .products {
    flex: 3;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.main-shop .shop-sidebar {
    flex: 1;
    min-width: 10rem;
    max-width: 20rem;
    border: solid rgb(212, 212, 212) 1px;
}